<h1>Create a pet!</h1>

<form action="/pets" method="post">
  <div>
    <label for="name">Enter your pet's name: </label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="species">Enter your pet's species: </label>
    <input type="text" name="species" id="species">
  </div>
  <div>
    <label for="breed">Enter your pet's breed: </label>
    <input type="text" name="breed" id="breed">
  </div>
  <div>
    <label for="color">Enter your pet's color: </label>
    <input type="text" name="color" id="color">
  </div>
  <div>
    <label for="age">Enter your pet's age: </label>
    <input type="number" name="age" id="age">
  </div>
  <div>
    <input type="submit" value="Create Pet!">
  </div>
</form>